footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
    margin-top: 114px;
}

.footer_menu{
    display: flex;
    gap: 30px;
}

.footer_right{
    display: flex;
    gap: 95px;
}

.footer_icons{
    display: flex;
    gap: 24px;
}
