$main-font: 'Mulish';
$main-color: #111111;
$secondary-color: #4A4FF2;


@mixin text-opacity {
    mix-blend-mode: normal;
    opacity: 0.6;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

@mixin paragraph-normal{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
}


body{
    font: 100% $main-font;
    font-style: normal;
    font-weight: 700;
    color: $main-color;
    max-width: 1110px;
    width: 100%;
    margin: auto;
}

/*HEADER*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 61px;
    margin-bottom: 91px;
}

.menu{
    display: flex;
    gap: 29px;
    list-style: none;
}

.menu_items{
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    letter-spacing: -0.346154px;
}

a{
    &:link{
        text-decoration: none;
        color: #111111;
    }
    &:visited{
        text-decoration: none;
        color: #111111;
    }
    &:hover{
        color: $secondary-color;
    }
    &:active{
        text-decoration: none;
        color:#111111
    }
}

/*MAIN*/


.shooting-stars{
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */
    letter-spacing: -0.423077px;
    color: $secondary-color;
    padding-bottom: 32px;
}

h1{
    font-size: 40px;
    line-height: 60px;
    /* or 150% */
}

.line{
    width: 30px;
    height: 2px;
    mix-blend-mode: normal;
    opacity: 0.5;
    background: #111111;
    margin-bottom: 9px;
}

.secondary-txt{
    @include text-opacity();
    font-style: italic;
}

.title__container{
    display: flex;
    align-items: last baseline;
    gap: 190px;
}

.title__title{
    width: 635px;
    height: 251px;
}

.title__right{
    justify-self: flex-start;
}

//GRID//
.grid_container{
    margin-top: 144px;
    margin-bottom: 91px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(32, 1fr);
    gap: 20px;
}

.zero{
    grid-area: 1/1/8/4;
}

.one{
    grid-area: 8/1/16/4;
}

.two{
    grid-area: 16/1/24/4;
}

.three{
    grid-area: 24/1/33/4;
}

.four{
    grid-area: 1/4/7/7;
}

.five{
    grid-area: 7/4/14/7;
}

.six{
    grid-area: 14/4/23/7;
}

.seven{
    grid-area: 23/4/33/7;
}

.eight{
    grid-area: 1/7/11/10;
}

.nine{
    grid-area: 11/7/18/10;
}

.ten{
    grid-area: 18/7/27/10;
}

.eleven{
    grid-area: 27/7/33/10;
}

//

.section_one{
    display: flex;
    gap: 94px;
    margin-bottom: 101px;

}

.h2{
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
}

.section_one-h2{
    max-width: 635px;
}

.section_one-list{
    @include text-opacity();
    display: flex;
    gap: 70px;
}

.section_one-list-item{
    padding-top:10px;
}


//INFO SECTION//

@mixin info_section-container{
    width: 100%;
    max-width: 1100px;
}

.section_container{
    @include info_section-container();
    margin-top: 48px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

.section_title{
    font-size: 22px;
    line-height: 28px;
}

.content_block{
    max-width: 190px;
    height: 110px;
}

.content_top{
    display: flex;
    justify-content: flex-end;
    gap: 121px;
}

.content_bottom{
    display: flex;
    justify-content: flex-end;
    gap: 121px;
    @include info_section-container();

}

.paragraph-title{
    @include paragraph-normal();
}

.paragraph-text{
    @include text-opacity();
    @include paragraph-normal();
    line-height: 26px;
}



.line-long{
    background: #D8D8D8;
    width: 1110px;
    height: 2px;
}

//FOOTER//

footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 47px;
    margin-top: 114px;
}

.footer_menu{
    display: flex;
    gap: 30px;
}

.footer_right{
    display: flex;
    gap: 95px;
}

.footer_icons{
    display: flex;
    gap: 24px;
}